<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <!--<add name="ConnectionString" connectionString="Data Source=10.72.129.213;Initial Catalog=qclabs;User ID=qclabs_030619;Password=030619_qclabs" providerName="System.Data.SqlClient" />-->
    <!--<add name="ConnectionString" connectionString="Data Source=10.160.19.64;Initial Catalog=QCLabs;User ID=sa;Password=123" providerName="System.Data.SqlClient"/>-->
    <add name="ConnectionString" connectionString="Data Source=DESKTOP-B09QR53\SQLEXPRESS;Initial Catalog=qclabs;User ID=sa;Password=123" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <httpRuntime enableVersionHeader="false" maxRequestLength="1073741824" executionTimeout="420"/>
    <!--For sqlInjection, securesession and errorLog-->
    <httpModules>
      <!--<add name="SampleSqlInjectionScreeningModule" type="SampleSqlInjectionScreeningModule" />-->
    </httpModules>
    <!--elmah handler-->
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false"/>
      <add path="ScriptResource.axd" verb="GET" type="System.Web.Handlers.ScriptResourceHandler" validate="false"/>
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false"/>
    </httpHandlers>
    <customErrors mode="Off" redirectMode="ResponseRewrite" defaultRedirect="~/Error.aspx">
      <error statusCode="404" redirect="~/Error.aspx"/>
      <error statusCode="403" redirect="~/Error.aspx"/>
      <error statusCode="500" redirect="~/Error.aspx"/>
    </customErrors>
    <compilation debug="true" targetFramework="4.0" batch="false" >
      <assemblies>
        <add assembly="AjaxControlToolkit"/>
        <add assembly="mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="Microsoft.ReportViewer.Common, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Runtime.Remoting, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      </buildProviders>
    </compilation>
    <pages>
      <controls>
        <add tagPrefix="ajax" namespace="AjaxControlToolkit" assembly="AjaxControlToolkit"/>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      </controls>
    </pages>
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
  </system.web>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="1073741824"/>
      </webServices>
    </scripting>
  </system.web.extensions>
  <appSettings>
    <!--<add key="ConnectionString" value="Server=NIC-PC; Database=OSSDS"/>-->
    <add key="ChartImageHandler" value="storage=file;timeout=20;dir=c:\TempImageFiles\;"/>
  </appSettings>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules>
      <!--<add name="SampleSqlInjectionScreeningModule" type="SampleSqlInjectionScreeningModule" />-->
    </modules>
    <handlers>

      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      <add name="pdfCheck" verb="*" path="*.pdf" type="docCheck"/>
      <add name="jpgCheck" verb="*" path="*.jpg" type="jpgdoChk"/>
      <add name="CaptchImage" path="CaptchaImage.aspx" verb="GET" type="CustomCaptcha.CaptchaImageHandler, CustomCaptcha"/>
      <add name="ScriptResource" preCondition="integratedMode" verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    </handlers>
    <httpErrors>
      <!--<remove statusCode="404" subStatusCode="-1"/>
      <error statusCode="404" subStatusCode="-1" prefixLanguageFilePath="" path="~/Error.aspx" responseMode="ExecuteURL"/>-->
    </httpErrors>
    <defaultDocument>
      <files>
        <clear/>
        <add value="index.html"/>
      </files>
    </defaultDocument>
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="KharifCottonCropFarmerReportSoap"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://ppstest.cgg.gov.in/MBMP/KharifCottonCropFarmerReport.asmx" binding="basicHttpBinding" bindingConfiguration="KharifCottonCropFarmerReportSoap" contract="GetAadhardetailsfromCGG.KharifCottonCropFarmerReportSoap" name="KharifCottonCropFarmerReportSoap"/>
    </client>
  </system.serviceModel>
</configuration>